body{
    margin: 0;
    background-color: #040404;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f4f4f6;
}

a:link {
    text-decoration: none;
    color: #f4f4f6;
}
a:visited {
    color: #f4f4f6;
}
.section {
    min-height: 120vh;
    width: 100%;
    padding: 4rem 2rem;
    box-sizing: border-box;
}

/* Odd sections */
.section:nth-child(odd) {
    background-color: #040404;
}

/* Even sections */
.section:nth-child(even) {
    background-color: #0b0b0b;
    color: #f4f4f6;
}

.section:nth-child(odd) .content_card{
    background-color: #232326;
}

.section:nth-child(even) .content_card{
    background-color: #232326;
}
.section_header{
    text-align: center;
}

.content_card{
    display: block;
    text-align: center;
    border:solid #F4F4F6;
    border-width: 0.5px;
    border-radius: 10px;
    padding: 5rem;
    max-width: 600px;
    max-height: 500px;
    margin: 0 auto;
}

#header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(29, 29, 29, 0.8);
    border: solid #F4F4F6;
    border-radius: 30px;
    border-width: 0.5px;

    max-width: 950px;
    width: calc(100% - 40px);

    max-height: 30px;

    display: flex;
    padding: 0.8rem;

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    z-index: 1000;
}

#band_animation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Resources/photo-1548983965-416c1920352e.avif');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 950px;
}


#founder_image{
    display: block;
    border-radius: 100%;
    width: 100px;
    max-width: 100%;
    height: 100px;
    margin: 0 auto;
}
